{% extends "base.html" %}
{% block title %}Mahsulotlar{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>Mahsulotlar roʻyxati</h2>

    <a href="{% url 'add_product' %}" class="btn btn-primary mb-3">Mahsulot qoʻshish</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nomi</th>
                <th>Kategoriya</th>
                <th>Narxi</th>
                <th>Chegirma</th>
                <th>Rasm</th>
                <th>Ochirish</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.product_name }}</td>
                <td>{{ p.category_id.category_name }}</td>
                <td>{{ p.unit_price }}</td>
                <td>{% if p.discounted %} ✅ {% else %} ❌ {% endif %}</td>
                <td>
                    {% if p.image %}
                        <img src="{{ p.image.url }}" width="60">
                    {% else %}
                        ---
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'delete_product' p.id %}" class="btn btn-danger btn-sm">O'chirish</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7" class="text-center">Mahsulot yo'q</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
